<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%= subdir %>css/style.css">
    <title><%= config.name %></title>

    <link rel="stylesheet" href="<%= subdir %>css/fontawesome/all.min.css">

    <link rel="stylesheet" href="<%= subdir %>css/bootstrap/bootstrap-icons.min.css">
    <link rel="stylesheet" href="<%= subdir %>css/bootstrap/bootstrap.min.css">

    <!-- Import map for the vendored three.js (used by the 3D sticker editor).
         Must precede any <script type="module">. -->
    <script type="importmap">
    {
        "imports": {
            "three": "<%= subdir %>js/vendor/three/three.module.js",
            "three/addons/": "<%= subdir %>js/vendor/three/addons/"
        }
    }
    </script>
</head>
<body class="bg-color">